{% load staticfiles %}
<html>
<head>
	{% block extra_head %}{% endblock %}
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/foundation.css' %}">
</head>
<body>
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name"><h1><a href="/">NT-Youkai</a></h1></li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
				<li class="{% if event or events %}active{% endif %}"><a href="{% url 'ntyoukai.events.views.list' %}">Events</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url 'ntyoukai.login.views.logout' %}">Logout</a></li>
				{% else %}
				<li><a href="{% url 'ntyoukai.login.views.login' %}">Login</a></li>
				{% endif %}
			</ul>
		</section>
	</nav>
	<div class="container row">
	{% block main_content %}{% endblock %}
	</div>
</body>
</html>